/*
TODO: Add site wide styles
TODO: Create dark mode theme arcoss website, use "Com Truise In Decay, Too" color scheme (match the colors manually by sight)
TODO: Add global form styling (incl form buttons)
*/

:root {
    /* CSS HEX */
    --hex-purple: #6A489Dff;
    --hex-green: #26B972ff;
    --hex-orange: #F0785Eff;
    --hex-grey: #2E2B2Aff;

    /* CSS RGB */
    --rgb-purple: rgba(106, 72, 157, 1);
    --rgb-green: rgba(38, 185, 114, 1);
    --rgb-orange: rgba(240, 120, 94, 1);
    --rgb-jet: rgba(46, 43, 42, 1);
}

* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgba(46, 43, 42, 1);
    /* background-color: var(--gradient-bottom); */
    color:rgba(146, 143, 142, 1)
}

a {
    text-decoration: none;
    /* color:rgba(38, 185, 114, 1) */
}

ul {
    list-style: none;
}

button {
    /* background-color: var(--rgb-purple); */
    /* background-color: var(--rgb-orange); */
    /* background-color: goldenrod; */
    background-color: var(--rgb-green);
    color: lightgrey;
    border: none;
    border-radius: 2rem;
}

.delete-btn {
    background-color: grey;
}
