/*
TODO: Add site wide styles
TODO: Create dark mode theme arcoss website, use Com Truise In Decay, Too color scheme (match the colors manually by sight) */
* {
    padding: 0;
    margin: 0;
}

form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background-color: #635F9D;
    color: lightgrey;
}
