/*
TODO: Add site wide styles
TODO: Add global form styling (incl form buttons?)
*/

:root {
    /* CSS HEX */
    --hex-purple: #6A489Dff;
    --hex-green: #26B972ff;
    --hex-orange: #F0785Eff;
    --hex-grey: #2E2B2Aff;

    /* CSS RGB */
    --rgb-purple: rgba(106, 72, 157, 1);
    --rgb-green: rgba(38, 185, 114, 1);
    --rgb-orange: rgba(240, 120, 94, 1);
    --rgb-jet: rgba(46, 43, 42, 1);
}

* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* #root {
	position: relative;
	min-height: 100vh;
} */

body {
    background-color: rgba(0, 0, 0, .95);
    color: darkgrey;
}

a {
    text-decoration: none;
    color:rgba(38, 185, 114, 1)
}

ul {
    list-style: none;
}

select {
    border: none
}

input {
    border: none;
}

textarea {
    border: none;
    border-left: 1px solid darkgrey;
    background-color: rgba(0, 0, 0, .95);
}

button {
    background-color: var(--rgb-green);
    /* background-color: rgb(1, 255, 177); */
    color: lightgrey;
    border: none;
    border-radius: 2rem;
}

.delete-btn, .cancel-btn {
    background-color: grey;
}

.form-field-container {
    display: flex;
    flex-direction: column;
}

.form-input {
    /* border: none; */
    border-bottom: 1px solid darkgrey;
    background-color: rgba(0, 0, 0, .1);
    color: rgb(163, 110, 244);
    font-size: large;
}

.form-input:focus {
    outline: none;
}

label.form-label, .auth-label {
    padding: 0px 0 10px 0;
}

.hide {
    visibility: hidden;
}

.remove {
    display: none;
}
