/* TODO: Make input fields larger */
/* TODO: Give input text a fun color ? */

.auth-form {
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.auth-field-container {
    display: flex;
    flex-direction: column;
}

.auth-input {
    border: none;
    border-bottom: 1px solid black;
}

.auth-input:focus {
    outline: none;
}

.auth-label {
    visibility: hidden;
    padding: 10px 0 0 0;
}

.auth-link {
    text-decoration: none;
    text-align: center;
}

#login {
    margin: 10px 0 0 0;
}
