/*
TODO: Make input fields larger
TODO: Give input text a fun color ?
TODO: Make user input text larger
TODO: Style errors
TODO: Make demo login button slightly brighter
TODO: Make demo user into me!
*/

.auth-form {
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.all-auth-errors-container {
    margin: 0 0 1rem;
}

.auth-error-container {
    color: var(--rgb-orange);
}

.auth-link {
    text-decoration: none;
    text-align: center;
}

#signup-btn {
    margin: 15px 0 20px 0;
    padding: .5rem 1rem;
}

#login-btn {
    margin: 10px 0 0 0;
    padding: 5px 0;
}

#or {
    text-align: center;
    margin-top: 5px;
}

#demo-login-btn {
    margin: 5px 0 10px 0;
    padding: 5px 0;
}

#logout-btn {
    cursor: pointer;
}
