/* Card Creator elements & components */
#card-creator-page-container {
    margin: 0 20rem 0;
}

.card-creator-header {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.edit-deck-btn {
    padding: .5rem 1rem;
    border-radius: 1rem;
    margin: .5rem 0 0 0;
}

/* The flashcard on study page */
#study-card {
    display: flex;
    border: 1px solid darkgrey;
    justify-content: center;
    height: 17rem;
    width: 18rem;
    margin: 0 3rem;
    border-radius: .5rem;
    align-items: center;
    color: rgb(149, 85, 245);
}

#study-card-front, #study-card-back {
    font-weight: 700;
    font-size: 1.25rem;
    overflow-wrap: normal;
    overflow-y: auto;
}

#no-cards {
    text-align: center;
}

#no-cards a:hover {
    text-decoration: underline;
}
