/* Card Creator elements & components */
#card-creator-page-container {
    margin: 0 20rem 0;
}

#card-creator {
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
}

.card-creator-header {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0 0 3rem;
}

.card-creator-subheader {
    /* color: rgba(149, 85, 245, 1) */
}

#num-list-cards {
    color:rgb(149, 85, 245)
}

.card-creator-form-header {
    margin: 0 0 1rem;
}

.edit-deck-btn {
    padding: .5rem 1rem;
    border-radius: 1rem;
    margin: .5rem 0 0 0;
}

ul#deck-cards-list {
    width: 20rem;
}

div.card-creator-list-row {
    display: flex;
    border: 1px solid darkgrey;
    border-radius: 1rem;
    width: 20rem;
    height: 4rem;
    /* justify-content: space-between; */
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    margin: 1rem 0;
}

div.card-creator-list-row:hover {
    color: rgb(149, 85, 245)
}

div.list-card-container {
    width: auto;
}

li.list-card-content {
    width: 100%;
    justify-content: center;
    margin: auto 0;
    padding: 10px .5rem;
}

.list-card-text {
    /* might need to adjust width
    when img added to content */
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    width: 240px;
    text-overflow: ellipsis;
}

.list-card-actions {
    display: flex;
    flex-direction: column;
    /* justify-self: flex-end; */
}

.list-card-action-btn {
    height: 2rem;
    width: 4rem;
    border-radius: 0;
}

.list-card-edit-btn {
    border-top-right-radius: 1rem;
    border-top-left-radius: .5rem;
}

.list-card-delete-btn {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: .5rem;
}

.list-card-delete-btn:hover {
    background-color: rgb(149, 85, 245);
}

.card-back-input {
    margin: 1.5rem 0 0;
}

.card-form-action-btns {
    display: flex;
    justify-content: flex-end;
}

.card-form-submit-btn {
    width: 8rem;
    height: 1.5rem;
}

.card-form-alt-btn {
    width: 4rem;
    height: 1.5rem;
    margin: 0 0 0 .5rem;
}

#finish-btn {
    background-color:rgb(149, 85, 245)
}

/* The flashcard on study page */
#study-card {
    display: flex;
    border: 1px solid darkgrey;
    justify-content: center;
    height: 17rem;
    width: 18rem;
    margin: 0 3rem;
    border-radius: .5rem;
    align-items: center;
    color: rgb(149, 85, 245);
}

/* .study-card-content {
    text-align: center;
    padding: 20px;
} */

.study-card-text {
    text-align: center;
    padding: 0 20px;
}

#study-card-front, #study-card-back {
    font-weight: 700;
    font-size: 1.25rem;
    overflow-wrap: normal;
    overflow-y: auto;
}

#no-cards {
    text-align: center;
}

#no-cards a:hover {
    text-decoration: underline;
}
