@media screen and (max-width: 1459px) {
    .homepage-container {
        margin: 0;
    }

}

@media screen and (min-width: 1450px) {
    .homepage-container {
        margin: 0 20rem 0;
    }
}


.homepage-header {
    display: flex;
    justify-content: space-between;
    margin: 0 8rem;
}

.profile-pic {
    height: 30px;
    width: 30px;
    border-radius: 25rem;
    border: 1px solid black;
}

#current-user {
    font-weight: 700;
}

.new-deck-btn-container{
    display: flex;
}

#homepage-new-deck-btn {
    align-self: flex-end;
    padding: .5rem 1rem;
    border-radius: 100rem;
}

.deck-list-container {
    border-radius: .2rem;
    overflow-y: scroll;
}

.deck-manager-row {
    background-color: rgba(106, 72, 200, .7);
    /* background-color: var(--rgb-purple); */
    border-radius: 4rem;
    margin: 1rem 4rem;
    padding: 1rem 1rem .5rem;
}

li.deck-manager-row:hover {
    background-color: var(--rgb-purple);
    /* background-color: rgba(106, 72, 200, .7); */
    color: var(--rgb-jet)
}

.deck-manager-row-contents {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem .5rem;
    box-sizing: content-box;
    color: darkgrey
}
.deck-title {
    color:rgba(190, 190, 190, 1)

}

.deck-action-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.deck-action-btn {
    height: 1.5rem;
    /* padding: .5rem .5rem 1.5rem; */
    padding: 0.33rem 1rem 1.33rem;
}
