.homepage-container {
    /* background-color: hotpink; */
    margin: 0 25px 0;
}

.homepage-header {
    display: flex;
    justify-content: space-between;
}

.profile-pic {
    height: 30px;
    width: 30px;
    border-radius: 25rem;
    border: 1px solid black;
}

.deck-list-container {
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: .2rem;
    margin: 1rem 0 0 0;
    overflow-y: scroll;
}

.deck-manager-page-container {
}

.deck-manager-list {
    /* background-color: blueviolet; */
}

.deck-manager-row {
    background-color: lightblue;
    /* border-bottom: 1px solid red; */
    border-radius: 1rem;
    margin: 1rem 4rem;
    padding: 1rem 1rem .5rem;
}

.deck-manager-row:hover {
    background-color: red;
}

.deck-manager-row-contents {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem 1rem;
    box-sizing: content-box;
}

.deck-action-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.deck-action-btn {
    height: 1.5rem;
}
