.deck-edit-form {
    position: relative;
    top: 17%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: auto; */
}

.deck-form-input {
    background-color: rgba(75, 75, 75, .5);
    border-radius: .2rem;
}

.deck-form-actions {
    display: flex;
    justify-content: flex-end;
}

.deck-form-btn {
    padding: 0.33rem 1rem .33rem;
}

button.deck-cancel-btn {
    margin-left: 5px;
}

.deck-list-container {
    border-radius: .2rem;
    overflow-y: scroll;
}

.deck-manager-row {
    display: flex;
    justify-content: space-between;
    background-color: rgba(106, 72, 200, .7);
    /* background-color: var(--rgb-purple); */
    border-radius: 4rem;
    margin: 1rem 4rem;
    /* padding: 1rem 1rem .5rem; */
    padding: 1rem 1rem;
    height: 4rem;
    overflow-x: hidden;

}

li.deck-manager-row:hover {
    background-color: var(--rgb-purple);
    /* background-color: rgba(106, 72, 200, .7); */
    color: var(--rgb-jet)
}

.deck-study-navlink {
    width: 100%;
    /* height: auto; */
}

.deck-manager-row-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 3rem .5rem 3rem; */
    margin: 0 3rem;
    box-sizing: content-box;
    color: darkgrey;
    height: 100%;
}

/* .deck-info {

} */

.deck-title {
    color:rgba(190, 190, 190, 1)
}

.deck-action-buttons {
    position: relative;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* margin: 0 3rem .5rem; */
    margin: 0 3rem;
}

.deck-action-btn {
    height: 1.5rem;
    /* padding: .5rem .5rem 1.5rem; */
    padding: 0.33rem 1rem 1.33rem;
}

/* Deck study page */

#deck-study-page-container {
    margin: 0 20rem 0;
}

#spacer-div {
    width: 8rem
}
#deck-study-header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 5rem 0;
}

#deck-details {
    position: relative;
    text-align: center;
    justify-content: center;
}

.deck-study-actions {
    align-self: flex-end;
    /* align-self: center; */
}

.hidden-btn {
    visibility: hidden;
}

#deck-study-flashcard {
    display: flex;
    justify-content: center;
    /* border: 1px solid rebeccapurple; */
}
