.deck-edit-form {
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: auto; */
}

.deck-form-input {
    background-color: rgba(75, 75, 75, .5);
    /* color: var(--rgb-green); */
    /* color: rgba(106, 72, 157, 1); original purple */
    border-radius: .2rem;
}

.deck-form-actions {
    display: flex;
    /* justify-content: flex-end; */
    justify-content: center;
    /* width: 11rem; */
}

.deck-edit-form-btn {
    padding: 0.33rem 1rem .33rem;
}
