#logo {
    position: absolute;
    left: 0;
    top: -10px;
    object-fit: contain;
    width: 100px;
}

#logo-title {
    position: absolute;
    font-weight: 900;
    left: 6rem;
    top: 2rem;
    color: rgb(1, 255, 177)
}

nav.navbar-container {
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-end;
    height: 5vh;
    /* border-bottom: 1px solid black; */
    padding: 10px 0 10px 0;
    box-sizing: content-box;
    margin: 0 0 50px 0;
    align-items: baseline;
}

.all-navlinks-container {
    display: flex;
    list-style: none;
}

.navlink-container, #logo, #logout-btn {
    padding: 10px 10px;
}

.navlink {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logout {
    padding-right: 10px;
}

li#logout-btn-container {

}

.auth-btn, #logout-btn {
    /* height: auto; */
    /* width: auto; */
    border: none;
}
