nav.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    border-bottom: 1px solid black;
    padding: 10px 0 10px 0;
    box-sizing: content-box;
    margin: 0 0 50px 0;
    align-items: baseline;
}

.all-navlinks-container {
    display: flex;
    list-style: none;
}

.navlink-container, #logo, #logout-btn {
    padding: 10px 10px;
}

.navlink {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logout {
    padding-right: 10px;
}

li#logout-btn-container {

}

.auth-btn, #logout-btn {
    /* height: auto; */
    /* width: auto; */
    border: none;
}
