#logo {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    width: 100px;
}

#logo-title {
    position: absolute;
    font-weight: 900;
    left: 6rem;
    top: 2rem;
    color: rgb(1, 255, 177)
}

nav.navbar-container {
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-end;
    height: 5vh;
    /* border-bottom: 1px solid black; */
    padding: 10px 0 10px 0;
    box-sizing: content-box;
    margin: 10px 0 50px 0;
    align-items: baseline;
}

.all-navlinks-container {
    display: flex;
    list-style: none;
    margin: 0 1rem 0 0;
}

.navlink-container, #logo {
    padding: 10px 10px;
}

.navlink {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logout {
    padding-right: 10px;

}

li#logout-btn-container.navlink-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#logout-btn {
    /* height: 26px; */
    /* width: 55px; */
    height: 2rem;
    width: 5rem;
}
